* {
  font-family: "Exo 2", sans-serif;
  --background: #fff;
  color: #000;
}

ion-list {
  padding: 0;
}

ion-toolbar {
  --background: rgb(63, 161, 251);
  --background: linear-gradient(
    142deg,
    rgb(98, 84, 252) 0%,
    rgb(81, 166, 250) 100%
  );
}

ion-title {
  text-align: center;
  color: #fff;
  font-weight: 750;
}
