<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title> Search Movies </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-col>
      <ion-searchbar
        [debounce]="400"
        (ionInput)="searchMovie($event)"
      ></ion-searchbar>

      <ion-row>
        <ion-col>
          <div *ngIf="!movies">
            <label> Loading... </label>
            <ion-spinner> </ion-spinner>
          </div>

          <div *ngIf="movies">
            <ion-list>
              <div *ngFor="let movie of movies">
                <ion-item (click)="openDetails(movie.id)">
                  <ion-label> {{movie.title}} </ion-label>
                </ion-item>
              </div>
            </ion-list>
          </div>
        </ion-col>
      </ion-row>
    </ion-col>
  </ion-grid>
</ion-content>
